singleuser:
  image:
    name: tjcrone/pangeo-notebook
    tag: d23eb34
  cmd: ['start-singleuser.sh']
  memory:
    guarantee: 14G
  storage:
    capacity: 40Gi

rbac:
  enabled: false

hub:
  extraConfig: |
    c.KubeSpawner.service_account = 'default'
    c.KubeSpawner.start_timeout = 60 * 10 # 10-minute timeout for Azure
    c.Spawner.default_url = '/lab'
    c.Spawner.cmd = ['jupyter-labhub']
    from kubernetes import client
    def modify_pod_hook(spawner, pod):
        pod.spec.containers[0].security_context = client.V1SecurityContext(
            privileged=True,
            capabilities=client.V1Capabilities(
                add=['SYS_ADMIN']
            )
        )
        return pod
    c.KubeSpawner.modify_pod_hook = modify_pod_hook
    c.KubeSpawner.environment = {}

prePuller:
  hook:
    enabled: false

cull:
  enabled: true
  users: false
  timeout: 1200
  every: 120
